/*
JV2 Folder Gallery Styles

If you change the theme, and would like to share them....
please contact me through the website.
You might have your theme included in the next release.

*/



/* body style - delete this if using as include and conficting with existing css */
body {
	margin: 10px;
	background-color: #696969;
}

/* remove dotted lines from links */
a:focus {outline: 0px dotted;}

/* Gallery Title */
.gallerytitle {
	color: #000;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	font-style: italic; 
}


/* Breadcrumbs links */
.gallerymenu {
	color: #000;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
}
.gallerymenu A:link {COLOR: #000000; text-decoration: underline}
.gallerymenu A:visited {COLOR: #000000; text-decoration: underline}
.gallerymenu A:active {COLOR: #000000; text-decoration: underline}
.gallerymenu A:hover {COLOR: #000000; text-decoration: none}

/* HR below breadcrumbs */
hr {
	border:0;
	color: #000;
	background-color: #000;
	height: 1px;
}


/* Image (and folder) Title */
.imagetitle {
	color: #000;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px; 
}

.view_download {
	color: #000;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px; 
}
.view_download A:link {COLOR: #000000; text-decoration: none}
.view_download A:visited {COLOR: #000000; text-decoration: none}
.view_download A:active {COLOR: #000000; text-decoration: none}
.view_download A:hover {COLOR: #000000; text-decoration: underline}


.folder_description {
	color: #000;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px; 
	padding: 0px 8px;
	display:block;
	width: 160px;
}

.table_cell_folder {

}

.table_cell_img {

}

.table_cell {
	padding-bottom: 8px;
}



/* FILE LIST VIEW */
.filetitle {
	color: #000;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px; 
	font-weight:bold;
}
.filelist {
	color: #000;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px; 
}
.filelist A:link {COLOR: #000000; text-decoration: none}
.filelist A:visited {COLOR: #000000; text-decoration: none}
.filelist A:active {COLOR: #000000; text-decoration: none}
.filelist A:hover {COLOR: #000000; text-decoration: underline}

/* Gallery Image thumbnail */
.galleryimage {
	border: 5px solid #444;
	background-color: #777;
	margin-left:15px;
	margin-right:15px;
}
.galleryimage:hover {
	border: 5px solid #757575;
}

/* Default Folder Image */
.galleryfolder {
	border: 5px solid transparent;
	background-color: transparent;
	margin-left:15px;
	margin-right:15px;
}
.galleryfolder:hover {
	border: 5px solid #999;
}

/* Page Links */
.gallerypagelinks {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
      	color: #000000;
      	text-align: center;
      	margin-top:20px;
}

.gallerypagelinks A:link {COLOR: #000000; text-decoration: underline}
.gallerypagelinks A:visited {COLOR: #000000; text-decoration: underline}
.gallerypagelinks A:active {COLOR: #000000; text-decoration: underline}
.gallerypagelinks A:hover {COLOR: #555555; text-decoration: none}

.slideshowlink {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
      	color: #000000;
      	text-align: center;
      	margin-top:5px;
}

.slideshowlink A:link {COLOR: #000000; text-decoration: underline}
.slideshowlink A:visited {COLOR: #000000; text-decoration: underline}
.slideshowlink A:active {COLOR: #000000; text-decoration: underline}
.slideshowlink A:hover {COLOR: #555555; text-decoration: none}


/* Links in large img view mode */
.navlink {
	color: #000;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	display:block;
	padding:3px 6px;
	margin:0px 12px 0px 0px;
	border:1px solid #000;
	float:left;
}
.navlink:link {COLOR: #000; text-decoration: none}
.navlink:visited {COLOR: #000; text-decoration: none}
.navlink:active {COLOR: #000; text-decoration: none}
.navlink:hover {COLOR: #888; text-decoration: none}


/* Links for admin */
.galleryadminlinks {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
      text-align: center;
      border: 1px solid #000000;
      margin: 15px auto;
      padding: 15px;
      width: 250px;
}

.galleryadminlinks A:link {COLOR: #000000; text-decoration: underline}
.galleryadminlinks A:visited {COLOR: #000000; text-decoration: underline}
.galleryadminlinks A:active {COLOR: #000000; text-decoration: underline}
.galleryadminlinks A:hover {COLOR: #000000; text-decoration: none}

/* powered by */
.credit {
	text-align:right;
	margin-top:20px;
	margin-bottom:2px;
	color: #AAA;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
}
.credit A:link {COLOR: #AAA; text-decoration: underline}
.credit A:visited {COLOR: #AAA; text-decoration: underline}
.credit A:active {COLOR: #AAA; text-decoration: underline}
.credit A:hover {COLOR: #000000; text-decoration: none}

/* popup tips */
.tips {
	font-family: Verdana;
	font-size: 8pt;
	display: none;
	position: absolute;
	border: 1px solid #000000;
	background-color: #787878;
	color: white;
	width: 200px;
}
.tips p
{
	padding: 5px;
	margin: 0px;
}
.tips h1
{
	font-size: 8pt;
	color: #000000;
	background-color: #cccccc;
	padding: 2px;
	margin: 0px;
	margin-bottom: 2px;
	text-align: center;
}
.tips img
{
	float: left;
	margin: 0px;
	padding: 5px;
	padding-right: 8px;
}

.comments {
  color: #000000;
  font-family: Verdana;
  font-size: 12px;
  width:500px;
  padding-top:5px;
}

.exif {
	margin-top:20px;
	margin-right:20px;
	color: #333;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
}



/*////// GALLERY MENU //////*/


#menu{
z-index:2;
width:150px;
padding-bottom:12em; /* To allow room for bottom dropdown */
padding-right:20px;
}

#menu a {
font:normal 12px verdana,helvetica,sans-serif;
display:block;
width:142px;
border:1px solid #000000;
margin:0px 0px 2px 0px;
padding:3px;
color:#111111;
background-color:#696969;
text-decoration:none;
}

#menu a:hover{
color:#ffffff;
background-color:#444444;
}

#menu ul ul a {
border:0px;
margin:0px
}

#menu a:active{
color:#888888;
background-color:#696969;
}

#menu ul{
list-style:none;
margin:0;
padding:0;
width:100%;
}

#menu ul ul {
border:1px solid #000000;
}

/* Requirement: Put the element selector name (div)
onto non anchor hover selectors to force IE5 and
5.5 to correctly apply the csshover file. */

div#menu li, div#menu li:hover{
position:relative;
}

div#menu li ul{
position:absolute;
top:0;
left:100.1%;
display:none;
}

div#menu ul ul,
div#menu ul ul ul,
div#menu ul ul ul ul,
div#menu ul ul ul ul ul,
div#menu ul ul ul ul ul ul,
div#menu ul li:hover ul ul,
div#menu ul li:hover ul ul ul,
div#menu ul li:hover ul ul ul ul,
div#menu ul li:hover ul ul ul ul ul,
div#menu ul li:hover ul ul ul ul ul ul
{display:none;}

div#menu ul li:hover ul,
div#menu ul ul li:hover ul,
div#menu ul ul ul li:hover ul,
div#menu ul ul ul ul li:hover ul,
div#menu ul ul ul ul ul li:hover ul,
div#menu ul ul ul ul ul ul li:hover ul
{display:block;}

/* End non-anchor hover selectors */

/* Styling for Expand */

#menu a.x, #menu a.x:visited{
background:#eee url(gallery/css/sub.gif) no-repeat bottom right;
}

#menu a.x:hover{
color:#ffffff;
background-color:#696969;
}

#menu a.x:active{
color:#ffffff;
background-color:#696969;
}


